apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base
- mimir.ingress.yaml

namespace: abuse-api-dev
images:
- name: docker-dcu-local.artifactory.secureserver.net/dcu-mimir
  newTag: dev
- name: docker-dcu-local.artifactory.secureserver.net/mimir
  newTag: dev

configMapGenerator:
- literals:
  - sysenv=dev
  - REDIS=mimir-redis.abuse-api-dev.svc.cluster.local
  name: env-specific-values
