export sysenv=test
kube_secret_env generic DB_PASS test-dcu:abuse-api-test:db-phishstory-v2:password
kube_secret_env cert MONGO_CLIENT test-cset:abuse-api-test:tls-mongo-common-cert-files
export MONGO_CLIENT_CERT="$MONGO_CLIENT_CERT"