apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base
- mimir.ingress.yaml

namespace: abuse-api-prod
images:
- name: docker-dcu-local.artifactory.secureserver.net/mimir
  newTag: prod
replicas:
- count: 2
  name: mimir

configMapGenerator:
- literals:
  - sysenv=prod
  - REDIS=mimir-redis.abuse-api-prod.svc.cluster.local
  name: env-specific-values
