apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base
- ingress.yaml

namespace: abuse-api-ote
images:
- name: docker-dcu-local.artifactory.secureserver.net/dcu-mimir
  newTag: ote

configMapGenerator:
- literals:
  - sysenv=ote
  - REDIS=mimir-redis.abuse-api-ote.svc.cluster.local
  name: env-specific-values
