---
apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "mimir"
  labels:
    app: "mimir"
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: "mimir"
  template:
    metadata:
      labels:
        app: "mimir"
    spec:
      imagePullSecrets:
        -
          name: "dcu-artifactory-creds"
      containers:
        -
          name: "mimir"
          image: "docker-dcu-local.artifactory.secureserver.net/mimir"
          envFrom:
            - configMapRef:
                name: env-specific-values
          livenessProbe:
            tcpSocket:
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 15
          readinessProbe:
            tcpSocket:
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 15
          env:
          - name: DB_PASS
            valueFrom:
              secretKeyRef:
                name: db-phishstory-v2
                key: password
          - name: ELASTIC_APM_SERVER_URL
            valueFrom:
              secretKeyRef:
                name: apm-access
                key: url
          - name: ELASTIC_APM_SECRET_TOKEN
            valueFrom:
              secretKeyRef:
                name: apm-access
                key: secret
          - name: MONGO_CLIENT_CERT
            value: /mongo_common_certs/mongo_client.pem
          volumeMounts:
          - name: tls-mongo-common-cert-files
            mountPath: /mongo_common_certs
            readOnly: true
      volumes:
        - name: tls-mongo-common-cert-files
          secret:
            secretName: tls-mongo-common-cert-files
